.w-10 {
    width: 10% !important;
}

.text-red {
    color: red;
}

.background-red {
    background-color: red;
}

.logo-wrapper {
    height: 40px;
    width: 40px;
}

.standings-col:last-child {
    display: flex;
    flex-direction: column;
    align-items: end;
}