<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.0/css/bootstrap.css">
    <title>MLB Divisions Tracker</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2 th:text="${alLeader}"></h2>
            </div>
            <div class="col-md-6 text-center">
                <h2 th:text="${nlLeader}"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table w-50" th:each="divisionStanding : ${alDivisionStandings}">
                    <tr>
                        <th class="w-25" th:text="${divisionStanding.name}"></th>
                        <th class="w-10">W</th>
                        <th class="w-10">L</th>
                        <th class="w-10">Pct.</th>
                        <th class="w-10">GB</th>
                    </tr>
                    <tr th:each="teamRecord : ${divisionStanding.teams}">
                        <td th:text="${teamRecord.team.name}"></td>
                        <td th:text="${teamRecord.wins}"></td>
                        <td th:text="${teamRecord.losses}"></td>
                        <td th:text="${teamRecord.winningPercentage}"></td>
                        <td th:text="${teamRecord.gamesBack}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-end">
                <table class="table w-50" th:each="divisionStanding : ${nlDivisionStandings}">
                    <tr>
                        <th style="width: 20%;" th:text="${divisionStanding.name}"></th>
                        <th class="w-10">W</th>
                        <th class="w-10">L</th>
                        <th class="w-10">Pct.</th>
                        <th class="w-10">GB</th>
                    </tr>
                    <tr th:each="teamRecord : ${divisionStanding.teams}">
                        <td th:text="${teamRecord.team.name}"></td>
                        <td th:text="${teamRecord.wins}"></td>
                        <td th:text="${teamRecord.losses}"></td>
                        <td th:text="${teamRecord.winningPercentage}"></td>
                        <td th:text="${teamRecord.gamesBack}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>